/* spinner.css */
.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 35px;
  height: 7px;
  animation: dominos 1s ease infinite;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Each domino timing */
.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  --left: 60px;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  --left: 50px;
  animation-delay: 0.54s;
}

.spinner span:nth-child(5) {
  --left: 40px;
  animation-delay: 0.665s;
}

.spinner span:nth-child(6) {
  --left: 30px;
  animation-delay: 0.79s;
}

.spinner span:nth-child(7) {
  --left: 20px;
  animation-delay: 0.915s;
}

.spinner span:nth-child(8) {
  --left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}
